@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Event Detail</h1>
        @Html.ActionLink("Add Event", "AddEvent", "Events", null, new { @class = "btn btn-primary" })
        <br /><br />

        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Event Details
                <div class="pull-right">

                </div>
            </div>
            <div class="panel-body">
                <div id="EventListing_group">

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
@Scripts.Render("~/Script/EventListing")
}
