
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Event Detail</h1>
        @Html.ActionLink("Add Event", "AddEvent", "Events", null, new { @class = "btn btn-primary" })
        @*<button type="button" class="btn btn-primary" onclick="Neighbourhood.initCreateNeighbourdhood();"><i class="fa fa-plus font"></i> Add New</button>*@
        <br /><br />

        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Event Details
                <div class="pull-right">

                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="divNeighbourhood">

                </div>
            </div>
        </div>
    </div>
</div>





<!--Create group Modal-->
@*<div id="CreateNeighbourhood" class="modal fade" role="dialog">

    </div>*@

@*<script src="~/Project Scripts/Neighbourhood/Neighbourhood.js"></script>*@



