
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">User Detail</h1>
        @*<button type="button" class="btn btn-primary" onclick="Categories.initCreateCategories();"><i class="fa fa-plus font"></i> Add New</button>*@
        @Html.ActionLink("Add User", "AddUser", "Account",null,new { @class="btn btn-primary"})
        <br /><br />

        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> User Details
                <div class="pull-right">

                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="divACategories">

                </div>
            </div>
        </div>
    </div>
</div>

