
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Category Details</h1>
        <button type="button" class="btn btn-primary" onclick="Category.initCreateCategory();"><i class="fa fa-plus font"></i> Add New</button>
        <br /><br />
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Category Details
                <div class="pull-right">

                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="divCategory">

                </div>
            </div>
        </div>
    </div>
</div>


<!--Create Category Modal-->
<div id="createCategory" class="modal fade" role="dialog">

</div>

@section scripts{
    <script src="~/Project Scripts/Category/Category.js"></script>
}

