
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <h1 class="page-header">Neighborhood Detail</h1>
        <button type="button" class="btn btn-primary" onclick="Neighborhood.initCreateNeighborhood();"><i class="fa fa-plus font"></i> Add New</button>
        <br /><br />

        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Neighborhood Details
                <div class="pull-right">

                </div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="divNeighborhood">

                </div>
            </div>
        </div>
    </div>
</div>





<!--Create group Modal-->
<div id="CreateNeighborhood" class="modal fade" role="dialog">

</div>
<script src="~/Project Scripts/Neighborhood/Neighborhood.js"></script>





